body {
    font-family: 'Arial';
    background-color: black;
    color: skyblue;
    margin: 0;
    padding: 20px;
    postion: relative;
    font-size:25px;
}

img{
    position: absolute;
    top:20px;
    right:20px;
    width:14%;
    border-radius: 10px;
    border: 2px solid skyblue;
    box-shadow: 0 4px 12px skyblue;

}
